html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: antiquewhite;
}
.country-list {
  padding: 0;
  margin-left: 50px;
}
.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 8px;
}
.country-name {
  margin-left: auto;
  margin-right: auto;
}
.country-details {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}
.counrty-flag {
  text-align: left;
  vertical-align: top;
  padding-left: 30px;
}
.counrty-flag,
.country-details {
  display: inline-block;
}
.lang-item {
  padding-left: 0;
}
.flag-img {
  padding-right: 30px;
}
form.example::after {
  content: '';
  clear: both;
  display: table;
}
form.example input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
.possible-country-list {
  font-size: 20px;

  text-transform: uppercase;
}
